<!DOCTYPE html>
<hmtl>
    <head>
      <meta charset="UTF-8" />
      <title> E-commerce</title>
    </head>
    <body>
      <h1>Buenas</h1>


      
      {{{body}}}
    </body>
</hmtl>